<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
        .img{
            width: 40px;
            height: 40px;
        }
        .updata{
            color: #1E9D3A;
        }
        .delete{
            color: #f00;
        }
    </style>
</head>

<body>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="css/basic.css">
    <%-include("./common/top.html",{usr})%>
    <div class="container-fluid">
        <div class="row">
            <%-include("./common/left.html")%>
            <div class="col-sm-10">
                <ol class="breadcrumb">
                    <li class="active">用户管理
                    </li>
                    <li class="active">添加用户
                    </li>
                </ol>
                <div class="panel panel-default">

                    <div class="panel-heading">
                        增加用户
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive input-form">
                            <form action="/adduser"  method="POST">
                                <ul>
                                    <li>用户名：<input name="name" type="text" class="dfinput aa" /><i></i></li>
                                    <li>密码：<input name="password" type="password" class="dfinput" /><i></i></li>
                                    <li><label>&nbsp;</label><input type="submit" class="btn btn-default" value="确认保存" disabled /></li>
                                </ul>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../js/jquery.js"></script>
    <script>
        //验证是否正确
        var arr = [/^[a-zA-z0-9]{5,12}$/, /^\d{6,8}$|^[a-zA-Z]{6,8}$|^[\W_]{6,8}$/];
        $('.aa').blur(function () {
            $.get('/getuseradd', {
                "curusr": $(this).val()
            }, (d) => {
                if (d.flag) { //已注册 
                    $('.aa').next().html(d.msg);
                    $(".btn").attr('disabled', true);
                } else if (arr[0].test(this.value) == false) {
                    $('.aa').next().html("用户名格式不正确,5-12位");
                    $(".btn").attr('disabled', true);
                    return false
                } else if ($('.aa').val() == '' || $("input[type='password']").val() == '' || $("input[name='email']").val() == '') {
                    $('.aa').next().html("")
                    $(".btn").attr('disabled', true);
                } else {
                    $('.aa').next().html("")
                    $(".btn").attr('disabled', false);
                }
            }, 'json');
        })
        $("input[type='password']").blur(function () {
            if (this.value.length < 6) {
                $(this).next().html("请输入6-32位英文、数字和符号的组合密码");
                $(".btn").attr('disabled', true);
                return false
            } else if (arr[1].test(this.value)) {
                $(this).next().html("密码过于简单，请试试英文、数字和符号的组合");
                $(".btn").attr('disabled', true);
                return false
            } else if ($('.aa').val() == '' || $("input[type='password']").val() == '' || $("input[name='email']").val() == '') {
                $(this).next().html("")
                $(".btn").attr('disabled', true);
            } else {
                $(this).next().html("")
                $(".btn").attr('disabled', false);
            }
        })
        

    </script>

</body>

</html>